{% extends "frontend/layout/web.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load form_tags %}
{% block content %}
    {% include 'frontend/components/preloader.html' %}
    {% include 'frontend/components/auth_nav.html' %}

    <div class="auth-outer-alt">
        <div class="columns">
            <div class="column">
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Logged Out Successfully</h3>
                        <h4>Thank You for using QuicDoc</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
