{% extends "dashboard/layout/admin_base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load form_tags %}
{% block admin %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <section class="card card-body">
                    <div class="text-center">
                        <h2 class="h2"><strong>{% translate "Change Password" %}</strong></h2>

                    </div>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% render_field form.oldpassword %}
                        {% render_field form.password1 %}
                        {% render_field form.password2 %}
                        <div class="mt-2 text-center">
                            <input class="btn btn-primary rounded-pill" type="submit"
                                   value="{% translate 'Change Password' %}">
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>

{% endblock %}
