{% extends "frontend/layout/web.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load form_tags %}
{% block content %}

    {% include 'frontend/components/preloader.html' %}
    {% include 'frontend/components/auth_nav.html' %}

    <div class="auth-outer-alt">
        <div class="columns">
            <div class="column">
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Register</h3>
                        {#                        <h4>We're super happy to see you again! Let's log you in.</h4>#}
                    </div>
                    <form method="post" role="form">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <article class="message is-danger">
                                <div class="message-body">
                                    {{ form.non_field_errors }}
                                </div>
                            </article>

                        {% endif %}

                        <div class="form-inner">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="email" name="email" autocomplete="email"
                                           class="input is-rounded is-primary-focus"
                                           placeholder="Email address"/>
                                    <div class="icon is-nedium is-left">
                                        <i class="sl sl-icon-envelope-open"></i>
                                    </div>
                                </div>
                            </div>

                            {% if form.email.errors %}
                                <article class="message is-danger">
                                    <div class="message-body">
                                        {{ form.email.errors }}
                                    </div>
                                </article>
                            {% endif %}

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="password" name="password1" class="input is-rounded is-primary-focus"
                                           placeholder="Password" autocomplete="current-password"/>
                                    <div class="icon is-nedium is-left">
                                        <i class="sl sl-icon-lock"></i>
                                    </div>
                                </div>
                            </div>

                            {% if form.password1.errors %}
                                <article class="message is-danger">
                                    <div class="message-body">
                                        {{ form.password1.errors }}
                                    </div>
                                </article>
                            {% endif %}


                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" name="team_name" class="input is-rounded is-primary-focus"
                                           placeholder="Team Name (Optional)" autocomplete="team_name"/>
                                    <div class="icon is-nedium is-left">
                                        <i class="sl sl-icon-lock"></i>
                                    </div>
                                </div>
                            </div>

                            {% if form.team_name.errors %}
                                <article class="message is-danger">
                                    <div class="message-body">
                                        {{ form.team_name.errors }}
                                    </div>
                                </article>
                            {% endif %}

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="button is-fullwidth is-rounded primary-btn raised" type="submit"
                                           value="{% translate 'Sign In' %}">
                                </div>
                            </div>
                        </div>

                    </form>


                </div>


            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
