{% load i18n %}
{% load form_tags %}

<div class="text-center mt-2">
    <h2 class="h2" style="color: #444f60 !important">
        <strong>
            {% translate "My Details" %}
        </strong>
    </h2>
</div>
<div class="card-body">
    <div class="row">
        <div id="profile-picture" class="col-md-6">
            <div class="text-center">
                <img class="avatar-img rounded" src="{{ user.avatar_url }}">
                <div id='profile-upload-holder' class="mt-4">
                    <label for="profile-upload">
                        <a id="profile-upload-label" class="btn btn-primary rounded-pill">
                            {% translate "Change Picture" %}
                        </a>
                    </label>
                    <input id="profile-upload" type="file" hidden="hidden" accept="image/*"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <form method="post">
                {% csrf_token %}
                {% render_text_input form.email %}
                {% render_text_input form.first_name %}
                {% render_text_input form.last_name %}
                {% if form.fields.language.choices %}
                    {% render_select_input form.language %}
                {% endif %}
                <div class="mt-2 text-center">
                    <input class="btn btn-primary rounded-pill" style="width: 120px !important;" type="submit"
                           value="{% translate "Save" %}">
                </div>
            </form>
        </div>
    </div>

</div>
